body {
    font-family: 'Work Sans', sans-serif;
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

li.menu {
    margin: 10% 10%;
    list-style: none;
    display: inline;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
    width: 15%;
}

ul.menu {
    display: inline;
}

div.menu
{
    display: table;   /* Allow the centering to work */
	margin: 0 auto;
}